<div class="row">
    <div class="col-sm-12">
      <form (ngSubmit)="onSubmit()" #solicitudForm="ngForm">
        <!-- Campo para el nombre del solicitante -->
        <fieldset class="form-group">
          <div class="col-sm-12">
            <label class="control-label" for="nombreSolicitante">Nombre del Solicitante</label>
            <input type="text" class="form-control" required [(ngModel)]="solicitud.nombre_solicitante" name="nombreSolicitante">
          </div>
        </fieldset>
  
        <!-- Campo para el contacto del solicitante -->
        <fieldset class="form-group">
          <div class="col-sm-12">
            <label class="control-label" for="contactoSolicitante">Contacto del Solicitante</label>
            <input type="text" class="form-control" required [(ngModel)]="solicitud.contacto_solicitante" name="contactoSolicitante">
          </div>
        </fieldset>
  
        <!-- Campo para el ID de la mascota -->
        <fieldset class="form-group">
          <div class="col-sm-12">
            <label class="control-label" for="mascotaId">ID de la Mascota</label>
            <input type="text" class="form-control" required [(ngModel)]="solicitud.mascota_id" name="mascotaId">
          </div>
        </fieldset>
  
        <!-- Botón de envío -->
        <fieldset class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" [disabled]="!solicitudForm.form.valid">Enviar</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  